$primary-color: #dbb722;
$secondary-color: #8b0ac5;
$hero-color: #eeeaea;
$text-color: #444444;
$danger: #a30a0a;

$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 700,
);

$font-sizes: (
    'text': 18px,
    'subtitle': 25px,
    'title': 30px,
);