@import './variables';
@import './resets';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@function size($font-name) {
    @return map-get($font-sizes, $font-name);
}

@mixin navbarFlexCenter($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin dataColumns() {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

body {
    font-size: size(text);
    font-weight: weight(regular);
    color: $text-color;
    background: $hero-color;
}

.navbar {
    @include navbarFlexCenter(row);

    background-color: $primary-color;
    padding: 15px 20px;
    margin: 0 0 20px 0;
}

.navbar-brand {
    @include navbarFlexCenter(row);

    .navbar-logo {
        @include navbarFlexCenter(row);
        text-decoration: none;
        color: $hero-color;
        font-weight: weight(medium);
        font-size: size(text);
    }

    .brand-logo {
        width: 25px;
        height: auto;
    }

    .navbar-burger {
        cursor: pointer;
        
        .burger {
            display: none;
            width: 30px;
            height: 3px;
            background-color: #444444;
            margin: 6px 0;
        }
    }
}

.navbar-menu {
    @include navbarFlexCenter(row);
    list-style: none;

    .navbar-item {
        color: $hero-color;
        font-weight: weight(medium);
        font-size: size(text);
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 15px;

        &:hover {
            color: $text-color;
        }
    }

    #live-button {
        background: $danger;
        padding: 10px 15px;
        border-radius: 10px;

        &:hover {
            background: $text-color;
            color: $hero-color;
        }
    }
}

.section {
    margin: 20px auto;
}

.container {
    margin: 20px;
}

.columns {
    @include dataColumns();

    margin: 20px auto;
}

.column {
    margin: 20px;
}

.title {
    font-weight: weight(bold);
    font-size: size(title);
}

.subtitle {
    font-weight: weight(bold);
    font-size: size(subtitle);
}

.has-text-centered {
    text-align: center;
}

.image {
    width: 500px;
    height: 350px;
    border: none;
    border-radius: 20px;
    object-fit: cover;
}

//post card
.card {
    width: 300px;
    height: 400px;
    color: $hero-color;
    background: $secondary-color;
    padding: 10px;
    border-radius: 30px;
}

.card-image {
    width: auto;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.card-button {
    text-decoration: none;
    background: $primary-color;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
}


//The code below is for responsiveness
@media only screen and (max-width: 480px) {
    .navbar {
        @include navbarFlexCenter(row);

        .navbar-brand {
            @include navbarFlexCenter(row);

            .navbar-burger {
            
                .burger {
                    display: block;
                }
            }
        }

        .navbar-menu {
            display: none;
        }
    }
}

// Responsiveness for Tablet screen (min-width: 481px and max-width: 768px)
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .navbar {
        @include navbarFlexCenter(row);
    }
}
