/* line 1, ../../Desktop/TheMiracleMovement/base/static/base/_resets.scss */
* {
  margin: 0;
  padding: 0; }

/* line 26, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
body {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  background: #eeeaea; }

/* line 33, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #dbb722;
  padding: 15px 20px;
  margin: 0 0 5px 0; }

/* line 42, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  /* line 45, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #eeeaea;
    font-weight: 500;
    font-size: 18px; }
  /* line 53, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .brand-logo {
    width: 25px;
    height: auto; }
  /* line 58, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .navbar-burger {
    cursor: pointer; }
    /* line 61, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-brand .navbar-burger .burger {
      display: none;
      width: 30px;
      height: 3px;
      background-color: #444444;
      margin: 6px 0; }

/* line 71, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none; }
  /* line 75, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-menu .navbar-item {
    color: #eeeaea;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px; }
    /* line 83, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-menu .navbar-item:hover {
      color: #444444; }
  /* line 88, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-menu #live-button {
    background: #a30a0a;
    padding: 10px 15px;
    border-radius: 10px; }
    /* line 93, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-menu #live-button:hover {
      background: #444444;
      color: #eeeaea; }

/* line 100, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.section {
  margin: 20px auto; }

/* line 105, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.alt-section {
  margin: 60px; }

/* line 109, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.container {
  margin: 20px; }

/* line 113, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.welcome {
  position: relative;
  width: 100%;
  height: 100vh; }
  /* line 118, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .welcome .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  /* line 127, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .welcome .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #eeeaea; }

/* line 137, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 20px auto; }
  /* line 142, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .columns .column {
    margin: 20px; }

/* line 147, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.sidebar {
  display: flex;
  justify-content: space-around;
  margin: 20px auto; }
  /* line 152, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .sidebar .sidebar-inner {
    margin: 20px; }

/* line 157, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.aside {
  padding: 20px;
  width: 300px;
  height: auto; }

/* line 164, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.list {
  list-style: none; }
  /* line 167, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .list .list-item {
    background: #eeeaea;
    margin-bottom: 10px;
    color: #444444;
    padding: 10px; }

/* line 175, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
hr {
  color: #eeeaea; }

/* line 179, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.title {
  font-weight: 700;
  font-size: 30px; }

/* line 184, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.subtitle {
  font-weight: 500;
  font-size: 23px; }

/* line 189, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-text-centered {
  text-align: center; }

/* line 193, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.image {
  width: 500px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
  object-position: top; }
  /* line 201, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .image:hover {
    transform: scale(0.98); }

/* line 206, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.alt-image {
  width: 350px;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
  object-position: top; }
  /* line 213, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .alt-image:hover {
    transform: scale(0.98); }

/* line 218, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-border {
  border: 2px solid #dbb722;
  box-shadow: 0 0 2px 2px; }

/* line 223, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-shadow {
  box-shadow: 1.2px 1.2px 0 1px #444444; }

/* line 227, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-background {
  background: #8b0ac5;
  padding: 10px;
  color: #eeeaea;
  border-radius: 20px; }

/* line 234, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-background-2 {
  background: #eeeaea;
  padding: 5px;
  color: #444444;
  border-radius: 20px; }

/* line 241, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-background-3 {
  background: rgba(219, 183, 34, 0.8);
  padding: 10px;
  color: #eeeaea;
  border-radius: 10px; }

/* line 248, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.channel {
  width: 95%;
  height: 600px;
  margin: 10px;
  border-radius: 20px; }

/* line 256, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 95%;
  margin: 10px auto; }
  /* line 262, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .slider-container .slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    animation: slide 15s infinite linear; }
    /* line 267, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .slider-container .slider .slide {
      flex-shrink: 0;
      margin-right: 0; }
      /* line 271, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
      .slider-container .slider .slide .slider-image {
        width: 600px;
        height: 400px;
        border-radius: 20px;
        object-fit: cover;
        object-position: top;
        margin: 20px; }
  /* line 282, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .slider-container .icon {
    width: 50px;
    height: 50px;
    background: #444444;
    color: #eeeaea;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 23px;
    font-weight: 700;
    border: 0;
    border-radius: 50%;
    margin: 0 10px; }
    /* line 297, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .slider-container .icon:hover {
      background: rgba(68, 68, 68, 0.5); }
  /* line 302, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .slider-container .prev {
    left: 0; }
  /* line 306, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .slider-container .next {
    right: 0; }
  /* line 311, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .slider-container:hover .slider {
    animation-play-state: paused;
    cursor: pointer; }

@keyframes slide {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

/* line 327, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.card {
  width: 300px;
  height: auto;
  color: #eeeaea;
  background: #8b0ac5;
  padding: 10px;
  border: 2px solid #dbb722;
  border-radius: 30px; }
  /* line 336, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .card .card-image {
    width: auto;
    height: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover; }
  /* line 343, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .card .button-ad {
    margin: 10px;
    text-align: center; }
  /* line 348, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .card .card-button {
    text-decoration: none;
    background: #dbb722;
    padding: 10px 30px;
    border-radius: 20px; }
    /* line 354, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .card .card-button:hover {
      background: #eeeaea;
      color: #dbb722; }

/* line 362, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.blog-card {
  width: 350px;
  height: auto;
  background: #8b0ac5;
  padding: 10px;
  border: 2px solid #dbb722;
  border-radius: 30px; }
  /* line 370, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .blog-card .blog-card-image {
    width: 350px;
    height: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: top; }
  /* line 378, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .blog-card .blog-link {
    text-decoration: none;
    color: #eeeaea; }
    /* line 382, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .blog-card .blog-link .blog-card-content {
      margin: 0 0 15px 0; }
      /* line 385, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
      .blog-card .blog-link .blog-card-content .snipet {
        font-size: 15px; }
  /* line 391, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .blog-card hr {
    color: #eeeaea; }

/* line 397, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.form {
  width: 80vw;
  margin: auto; }
  /* line 401, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .field {
    margin: 10px 0; }
  /* line 405, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .input {
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #dbb722;
    background: 0;
    outline: 0;
    color: #444444; }
  /* line 416, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .textarea {
    padding: 12px;
    width: 80%;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #dbb722;
    background: 0;
    outline: 0;
    color: #444444;
    resize: none; }
  /* line 428, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .button {
    width: 20%;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #dbb722;
    color: #eeeaea;
    background: #8b0ac5;
    font-weight: 500;
    cursor: pointer; }
    /* line 439, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .form .button:hover {
      background: #dbb722;
      border: 2px solid #8b0ac5; }
  /* line 445, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .form-box {
    box-shadow: 1.2px 1.2px 0 1px #444444; }

/* line 452, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.footer {
  background: rgba(68, 68, 68, 0.05); }
  /* line 455, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .footer .iframe {
    border-radius: 20px;
    width: 600px;
    height: 300px; }
  /* line 461, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .footer .address {
    padding: 20px;
    margin: 0;
    font-size: 23px; }
  /* line 467, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .footer .link {
    text-decoration: none;
    color: #444444; }
    /* line 471, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .footer .link:hover {
      color: #dbb722; }
  /* line 476, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .footer .socials {
    border-bottom: 2px solid #dbb722;
    padding: 0;
    margin: 0 0 10px 0; }
    /* line 481, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .footer .socials .social-menu {
      display: flex;
      justify-content: center; }
      /* line 485, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
      .footer .socials .social-menu .social-items {
        list-style: none;
        padding: 20px; }
        /* line 489, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
        .footer .socials .social-menu .social-items .link {
          text-decoration: none;
          color: #444444; }
          /* line 493, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
          .footer .socials .social-menu .social-items .link:hover {
            color: #dbb722; }
  /* line 501, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .footer .footer-logo {
    width: 22px;
    height: auto; }

@media only screen and (max-width: 480px) {
  /* line 510, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    /* line 513, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar .navbar-brand {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      /* line 518, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
      .navbar .navbar-brand .navbar-burger .burger {
        display: block; }
    /* line 524, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar .navbar-menu {
      display: none; } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 532, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; } }
