/* line 1, ../../Desktop/TheMiracleMovement/base/static/base/_resets.scss */
* {
  margin: 0;
  padding: 0; }

/* line 20, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #dbb722;
  padding: 15px 20px;
  margin: 0 0 20px 0; }

/* line 28, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  /* line 31, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #dbdada;
    font-weight: 500;
    font-size: 14px; }
  /* line 39, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .brand-logo {
    width: 25px;
    height: auto; }
  /* line 44, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .navbar-burger {
    display: inline-block;
    cursor: pointer; }
    /* line 48, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-brand .navbar-burger span {
      width: 35px;
      height: 5px;
      background-color: #444444;
      margin: 6px 0; }

/* line 58, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none; }
  /* line 62, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-menu .navbar-item {
    color: #dbdada;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px; }
    /* line 70, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-menu .navbar-item:hover {
      color: #444444; }
  /* line 75, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-menu #live-button {
    background: #a30a0a;
    padding: 10px 15px;
    border-radius: 10px; }
    /* line 80, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-menu #live-button:hover {
      background: #444444;
      color: #dbdada; }
