/* line 1, ../../Desktop/TheMiracleMovement/base/static/base/_resets.scss */
* {
  margin: 0;
  padding: 0; }

/* line 25, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
body {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  background: #eeeaea; }

/* line 32, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #dbb722;
  padding: 15px 20px;
  margin: 0 0 5px 0; }

/* line 41, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  /* line 44, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #eeeaea;
    font-weight: 500;
    font-size: 18px; }
  /* line 52, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .brand-logo {
    width: 25px;
    height: auto; }
  /* line 57, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .navbar-burger {
    cursor: pointer; }
    /* line 60, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-brand .navbar-burger .burger {
      display: none;
      width: 30px;
      height: 3px;
      background-color: #444444;
      margin: 6px 0; }

/* line 70, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none; }
  /* line 74, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-menu .navbar-item {
    color: #eeeaea;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px; }
    /* line 82, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-menu .navbar-item:hover {
      color: #444444; }
  /* line 87, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-menu #live-button {
    background: #a30a0a;
    padding: 10px 15px;
    border-radius: 10px; }
    /* line 92, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-menu #live-button:hover {
      background: #444444;
      color: #eeeaea; }

/* line 99, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.section {
  margin: 20px auto; }

/* line 103, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.container {
  margin: 20px; }

/* line 107, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.welcome {
  position: relative;
  width: 100%;
  height: 100vh; }
  /* line 112, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .welcome .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  /* line 121, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .welcome .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #eeeaea; }

/* line 131, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto; }
  /* line 136, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .columns .column {
    margin: 20px; }

/* line 141, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.title {
  font-weight: 700;
  font-size: 30px; }

/* line 146, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.subtitle {
  font-weight: 500;
  font-size: 23px; }

/* line 151, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-text-centered {
  text-align: center; }

/* line 155, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.image {
  width: 500px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
  object-position: top; }

/* line 164, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.alt-image {
  width: 350px;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
  object-position: top; }

/* line 172, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-border {
  border: 2px solid #dbb722;
  box-shadow: 0 0 2px 2px; }

/* line 177, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-shadow {
  box-shadow: 1.2px 1.2px 0 1px #444444; }

/* line 181, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-background {
  background: #8b0ac5;
  padding: 10px;
  color: #eeeaea;
  border-radius: 20px; }

/* line 188, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-background-2 {
  background: #eeeaea;
  padding: 5px;
  color: #444444;
  border-radius: 20px; }

/* line 196, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.card {
  width: 300px;
  height: auto;
  color: #eeeaea;
  background: #8b0ac5;
  padding: 10px;
  border: 2px solid #dbb722;
  border-radius: 30px; }
  /* line 205, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .card .card-image {
    width: auto;
    height: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover; }
  /* line 212, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .card .button-ad {
    margin: 10px;
    text-align: center; }
  /* line 217, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .card .card-button {
    text-decoration: none;
    background: #dbb722;
    padding: 10px 30px;
    border-radius: 20px; }
    /* line 223, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .card .card-button:hover {
      background: #eeeaea;
      color: #dbb722; }

/* line 231, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.blog-card {
  width: 350px;
  height: auto;
  background: #8b0ac5;
  padding: 10px;
  border: 2px solid #dbb722;
  border-radius: 30px; }
  /* line 239, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .blog-card .blog-card-image {
    width: 350px;
    height: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: top; }
  /* line 247, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .blog-card .blog-link {
    text-decoration: none;
    color: #eeeaea; }
    /* line 251, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .blog-card .blog-link .blog-card-content {
      margin: 0 0 15px 0; }
      /* line 254, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
      .blog-card .blog-link .blog-card-content .snipet {
        font-size: 15px; }
  /* line 260, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .blog-card hr {
    color: #eeeaea; }

/* line 266, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.form {
  width: 80vw;
  margin: auto; }
  /* line 270, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .field {
    margin: 10px 0; }
  /* line 274, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .input {
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #dbb722;
    background: 0;
    outline: 0;
    color: #444444; }
  /* line 285, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .textarea {
    padding: 12px;
    width: 80%;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #dbb722;
    background: 0;
    outline: 0;
    color: #444444;
    resize: none; }
  /* line 297, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .button {
    width: 20%;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #dbb722;
    color: #eeeaea;
    background: #8b0ac5;
    font-weight: 500;
    cursor: pointer; }
    /* line 308, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .form .button:hover {
      background: #dbb722;
      border: 2px solid #8b0ac5; }
  /* line 314, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .form-box {
    box-shadow: 1.2px 1.2px 0 1px #444444; }

/* line 322, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.footer .iframe {
  border-radius: 20px;
  width: 600px;
  height: 300px; }

/* line 328, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.footer .address {
  padding: 20px;
  margin: 0;
  font-size: 23px; }

/* line 334, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.footer .link {
  text-decoration: none;
  color: #444444; }
  /* line 338, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .footer .link:hover {
    color: #dbb722; }

/* line 343, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.footer .socials {
  border-bottom: 2px solid #dbb722;
  padding: 0 0 20px 0;
  margin: 0 0 10px 0; }
  /* line 348, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .footer .socials .social-menu {
    display: flex;
    justify-content: center; }
    /* line 352, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .footer .socials .social-menu .social-items {
      list-style: none;
      padding: 20px; }

/* line 359, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.footer .footer-logo {
  width: 22px;
  height: auto; }

@media only screen and (max-width: 480px) {
  /* line 368, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    /* line 371, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar .navbar-brand {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      /* line 376, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
      .navbar .navbar-brand .navbar-burger .burger {
        display: block; }
    /* line 382, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar .navbar-menu {
      display: none; } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 390, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; } }
