/* line 1, ../../Desktop/TheMiracleMovement/base/static/base/_resets.scss */
* {
  margin: 0;
  padding: 0; }

/* line 26, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
body {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  background: #eeeaea; }

/* line 33, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #dbb722;
  padding: 15px 20px;
  margin: 0 0 5px 0; }

/* line 42, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  /* line 45, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #eeeaea;
    font-weight: 500;
    font-size: 18px; }
  /* line 53, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .brand-logo {
    width: 25px;
    height: auto; }
  /* line 58, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .navbar-burger {
    cursor: pointer; }
    /* line 61, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-brand .navbar-burger .burger {
      display: none;
      width: 30px;
      height: 3px;
      background-color: #444444;
      margin: 6px 0; }

/* line 71, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none; }
  /* line 75, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-menu .navbar-item {
    color: #eeeaea;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px; }
    /* line 83, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-menu .navbar-item:hover {
      color: #444444; }
  /* line 88, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-menu #live-button {
    background: #a30a0a;
    padding: 10px 15px;
    border-radius: 10px; }
    /* line 93, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-menu #live-button:hover {
      background: #444444;
      color: #eeeaea; }

/* line 100, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.section {
  margin: 20px auto; }

/* line 104, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.container {
  margin: 20px; }

/* line 108, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.welcome {
  background-image: url(/static/base/base\static\images\event\Adobe_Express_20230912_1344060_1.png);
  color: #eeeaea;
  min-width: 100%;
  min-height: 100vh;
  margin: 0; }

/* line 116, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: 20px auto; }
  /* line 121, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .columns .column {
    margin: 20px; }

/* line 126, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.title {
  font-weight: 700;
  font-size: 30px; }

/* line 131, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.subtitle {
  font-weight: 500;
  font-size: 23px; }

/* line 136, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-text-centered {
  text-align: center; }

/* line 140, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.image {
  width: 500px;
  height: 350px;
  border: none;
  border-radius: 20px;
  object-fit: cover; }

/* line 148, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.has-border {
  border: 2px solid #dbb722;
  box-shadow: 0 0 2px 2px; }

/* line 154, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.card {
  width: 300px;
  height: auto;
  color: #eeeaea;
  background: #8b0ac5;
  padding: 10px;
  border: 2px solid #dbb722;
  border-radius: 30px; }
  /* line 163, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .card .card-image {
    width: auto;
    height: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover; }
  /* line 170, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .card .button-ad {
    margin: 10px;
    text-align: center; }
  /* line 175, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .card .card-button {
    text-decoration: none;
    background: #dbb722;
    padding: 10px 30px;
    border-radius: 20px; }
  /* line 182, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .card .card-button:hover {
    background: #eeeaea;
    color: #dbb722; }

/* line 189, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.form {
  width: 80vw;
  margin: auto; }
  /* line 193, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .field {
    margin: 10px 0; }
  /* line 197, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .input {
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #dbb722;
    background: 0;
    outline: 0; }
  /* line 207, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .textarea {
    padding: 12px;
    width: 80%;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #dbb722;
    background: 0;
    outline: 0; }
  /* line 217, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .button {
    width: 20%;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #dbb722;
    color: #eeeaea;
    background: #8b0ac5;
    font-weight: 500; }
  /* line 228, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .button:hover {
    background: #dbb722;
    border: 2px solid #8b0ac5; }
  /* line 233, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .form .form-box {
    box-shadow: 1.2px 1.2px 0 1px #444444; }

@media only screen and (max-width: 480px) {
  /* line 242, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    /* line 245, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar .navbar-brand {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      /* line 250, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
      .navbar .navbar-brand .navbar-burger .burger {
        display: block; }
    /* line 256, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar .navbar-menu {
      display: none; } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 264, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; } }
