/* line 1, ../../Desktop/TheMiracleMovement/base/static/base/_resets.scss */
* {
  margin: 0;
  padding: 0; }

/* line 26, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #dbb722;
  padding: 15px 20px;
  margin: 0 0 20px 0; }

/* line 34, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  /* line 37, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #dbdada;
    font-weight: 500;
    font-size: 14px; }
  /* line 45, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .brand-logo {
    width: 25px;
    height: auto; }
  /* line 50, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-brand .navbar-burger {
    cursor: pointer; }
    /* line 53, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-brand .navbar-burger .burger {
      display: none;
      width: 30px;
      height: 3px;
      background-color: #444444;
      margin: 6px 0; }

/* line 63, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none; }
  /* line 67, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-menu .navbar-item {
    color: #dbdada;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px; }
    /* line 75, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-menu .navbar-item:hover {
      color: #444444; }
  /* line 80, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar-menu #live-button {
    background: #a30a0a;
    padding: 10px 15px;
    border-radius: 10px; }
    /* line 85, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar-menu #live-button:hover {
      background: #444444;
      color: #dbdada; }

/* line 92, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.section {
  margin: 20px auto; }

/* line 96, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.container {
  margin: 20px; }

/* line 100, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: 20px auto; }

/* line 106, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.column {
  margin: 20px; }

/* line 110, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.image {
  width: 500px;
  height: 350px;
  border: none;
  border-radius: 20px;
  object-fit: cover; }

@media only screen and (max-width: 480px) {
  /* line 120, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    /* line 123, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar .navbar-brand {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      /* line 128, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
      .navbar .navbar-brand .navbar-burger .burger {
        display: block; }
    /* line 134, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
    .navbar .navbar-menu {
      display: none; } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 142, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; } }
