/* line 7, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.default-image {
  width: 500px;
  height: 200px; }

/* line 12, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.introduction {
  background: #dbdada;
  color: #444444; }
