/* line 1, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.is-success {
  border: 1px solid goldenrod; }

/* line 5, ../../Desktop/TheMiracleMovement/base/static/base/base.scss */
.image {
  width: auto;
  object-fit: cover; }
