$primary-color: #dbb722;
$secondary-color: #3b0b59;
$hero-color: #f7f7f7;
$text-color: #333333;
$danger: #a30a0a;

$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 700,
);

$font-sizes: (
    'small': 15px,
    'text': 18px,
    'subtitle': 23px,
    'title': 30px,
);