// default styling for the website to override unused element
$primary-color: #dbb722;
$secondary-color: #8b0ac5;
$hero-color: #dbdada;
$text-color: #444444;

body {
    background: $text-color;
    color: $hero-color;
}