@import './variables';
@import './resets';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@function size($font-name) {
    @return map-get($font-sizes, $font-name);
}

@mixin navbarFlexCenter($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin dataColumns($direction) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: $direction;
}

body {
    font-size: size(text);
    font-weight: weight(regular);
    color: $text-color;
    background: $hero-color;
}

.navbar {
    @include navbarFlexCenter(row);

    background-color: $primary-color;
    padding: 15px 20px;
    margin: 0 0 5px 0;
    // position: fixed;
}

.navbar-brand {
    @include navbarFlexCenter(row);

    .navbar-logo {
        @include navbarFlexCenter(row);
        text-decoration: none;
        color: $hero-color;
        font-weight: weight(medium);
        font-size: size(text);
    }

    .brand-logo {
        width: 25px;
        height: auto;
    }

    .navbar-burger {
        cursor: pointer;
        
        .burger {
            display: none;
            width: 30px;
            height: 3px;
            background-color: #444444;
            margin: 6px 0;
        }
    }
}

.navbar-menu {
    @include navbarFlexCenter(row);
    list-style: none;

    .navbar-item {
        color: $hero-color;
        font-weight: weight(medium);
        font-size: size(text);
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 15px;

        &:hover {
            color: $text-color;
        }
    }

    #live-button {
        background: $danger;
        padding: 10px 15px;
        border-radius: 10px;

        &:hover {
            background: $text-color;
            color: $hero-color;
        }
    }
}

.section {
    margin: 20px auto;
}

.container {
    margin: 20px;
}

.welcome {
    position: relative;
    width: 100%;
    height: 100vh;

    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: $hero-color;
    }
}

.columns {
    @include dataColumns(row);

    margin: 20px auto;

    .column {
        margin: 20px;
    }
}

.title {
    font-weight: weight(bold);
    font-size: size(title);
}

.subtitle {
    font-weight: weight(medium);
    font-size: size(subtitle);
}

.has-text-centered {
    text-align: center;
}

.image {
    width: 500px;
    height: 350px;
    // border: none;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;

    &:hover {
        transform: scale(0.98);
    }
}

.alt-image {
    width: 350px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;

    &:hover {
        transform: scale(0.98);
    }
}

.has-border {
    border: 2px solid $primary-color;
    box-shadow: 0 0 2px 2px;
}

.has-shadow {
    box-shadow: 1.2px 1.2px 0 1px rgba($color: $text-color, $alpha: 1.0);
}

.has-background {
    background: $secondary-color;
    padding: 10px;
    color: $hero-color;
    border-radius: 20px;
}

.has-background-2 {
    background: $hero-color;
    padding: 5px;
    color: $text-color;
    border-radius: 20px;
}

//GOS section styling
.slider {
    @include dataColumns(row);
    padding: 5px;
    overflow: hidden;

    .slider-image {
        width: 600px;
        height: 400px;
        border-radius: 20px;
        object-fit: cover;
        object-position: top;
        margin: 20px;
    }
}

//post card
.card {
    width: 300px;
    height: auto;
    color: $hero-color;
    background: $secondary-color;
    padding: 10px;
    border: 2px solid $primary-color;
    border-radius: 30px;

    .card-image {
        width: auto;
        height: 300px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    
    .button-ad {
        margin: 10px;
        text-align: center;
    }
    
    .card-button {
        text-decoration: none;
        background: $primary-color;
        padding: 10px 30px;
        border-radius: 20px;

        &:hover {
            background: $hero-color;
            color: $primary-color;
        }
    }
}

//Blog post card styling
.blog-card {
    width: 350px;
    height: auto;
    background: $secondary-color;
    padding: 10px;
    border: 2px solid $primary-color;
    border-radius: 30px;

    .blog-card-image {
        width: 350px;
        height: 300px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        object-position: top;
    }

    .blog-link {
        text-decoration: none;
        color: $hero-color;

        .blog-card-content {
            margin: 0 0 15px 0;

            .snipet {
                font-size: size(small);
            }
        }
    }

    hr {
        color: $hero-color;
    }
}

//form styling code
.form {
    width: 80vw;
    margin: auto;
    
    .field {
        margin: 10px 0;
    }
    
    .input {
        padding: 15px;
        width: 80%;
        border-radius: 10px;
        font-size: 14px;
        border: 2px solid $primary-color;
        background: 0;
        outline: 0;
        color: $text-color;
    }
    
    .textarea {
        padding: 12px;
        width: 80%;
        border-radius: 10px;
        font-size: 14px;
        border: 2px solid $primary-color;
        background: 0;
        outline: 0;
        color: $text-color;
        resize: none;
    }

    .button {
        width: 20%;
        padding: 15px;
        border-radius: 10px;
        font-size: 14px;
        border: 2px solid $primary-color;
        color: $hero-color;
        background: $secondary-color;
        font-weight: weight(medium);
        cursor: pointer;

        &:hover {
            background: $primary-color;
            border: 2px solid $secondary-color;
        }
    }

    .form-box {
        box-shadow: 1.2px 1.2px 0 1px rgba($color: $text-color, $alpha: 1.0);
    }
}


//footer styling
.footer {
    background: rgba($color: $text-color, $alpha: 0.05);

    .iframe {
        border-radius: 20px;
        width: 600px;
        height: 300px;
    }

    .address {
        padding: 20px;
        margin: 0;
        font-size: size(subtitle);
    }

    .link {
        text-decoration: none;
        color: $text-color;

        &:hover {
            color: $primary-color;
        }
    }

    .socials {
        border-bottom: 2px solid $primary-color;
        padding: 0;
        margin: 0 0 10px 0;

        .social-menu {
            display: flex;
            justify-content: center;

            .social-items {
                list-style: none;
                padding: 20px;

                .link {
                    text-decoration: none;
                    color: $text-color;
                    
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .footer-logo {
        width: 22px;
        height: auto;
    }
}


//The code below is for responsiveness
@media only screen and (max-width: 480px) {
    .navbar {
        @include navbarFlexCenter(row);

        .navbar-brand {
            @include navbarFlexCenter(row);

            .navbar-burger {
            
                .burger {
                    display: block;
                }
            }
        }

        .navbar-menu {
            display: none;
        }
    }
}

// Responsiveness for Tablet screen (min-width: 481px and max-width: 768px)
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .navbar {
        @include navbarFlexCenter(row);
    }
}
