{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <section class="section">
            <div class="columns">
                <div class="column has-background has-border has-shadow">
                    <h1 class="title has-background-2 has-border has-shadow">Our Vision:</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima illum necessitatibus distinctio quisquam consequatur hic, impedit fugit quod, cumque provident animi voluptate aliquam sed doloribus odio numquam aperiam ipsa dolor? Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia quia fugiat repudiandae blanditiis modi libero quaerat cupiditate aut, at, voluptatum laborum, obcaecati illo! Esse magni ipsam voluptates quo in. (1 Timothy 2: 4)</p>
                </div>
                <div class="column has-background has-border has-shadow">
                    <h1 class="title has-background-2 has-border has-shadow">Our Mission:</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, eveniet. Iusto illum, qui eaque ipsum eveniet non odit, quas dolor natus fugiat minus ipsam dicta impedit! Dicta culpa quis tempora! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia quia fugiat repudiandae blanditiis modi libero quaerat cupiditate aut, at, voluptatum laborum, obcaecati illo! Esse magni ipsam voluptates quo in.</p>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Brief history</h1>
                    <p>In a fleeting world, photographs are like tiny frames capturing life's essence. They freeze moments, preserving emotions and stories for eternity. Like artwork in frames, photos capture the ordinary and make it extraordinary. A smile, a glance, a sunset—they all become chapters in our personal narrative. <br> Photographers are storytellers. They use frames, light, and composition to craft emotional tales. Each shot is a canvas painted with memories, inviting us to revisit the past. In today's digital age, photos connect us globally, but their essence remains timeless, whether on mantelpieces or screens. <br> Photos as frames bridge generations. Family albums pass down traditions and legacies. Amid life's chaos, photos offer a pause, a chance to reflect and appreciate. They're the threads weaving our life's tapestry, reminding us of the beauty in the everyday.</p>
                </div>
                <div class="column">
                    <img class="image has-border" src="{% static 'images/pastors/Pastor-Binuyo-Tomiwa-853x1024.png' %}" alt="Pastor Binuyo Tomiwa">
                </div>
            </div>
        </section>

        <section class="section">
            <div class="columns">
                <div class="column">
                    <img class="alt-image has-border" src="{% static 'images\event\Adobe_Express_20230801_1617420_1.png' %}" alt="Our Traits 1">
                </div>
                <div class="column">
                    <ol>
                        <li><span class="subtitle"><strong>Academic Excellence:</strong></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatibus ex quaerat eveniet, ipsa architecto ut quas culpa error tenetur, mollitia natus. Neque, itaque sapiente voluptatibus maiores nam incidunt est!</li>
                        
                        <li><span class="subtitle"><strong>Financial Prosperity:</strong></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatibus ex quaerat eveniet, ipsa architecto ut quas culpa error tenetur, mollitia natus. Neque, itaque sapiente voluptatibus maiores nam incidunt est!</li>

                        <li><span class="subtitle"><strong>The Supernatural:</strong></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatibus ex quaerat eveniet, ipsa architecto ut quas culpa error tenetur, mollitia natus. Neque, itaque sapiente voluptatibus maiores nam incidunt est!</li>
                    </ol>
                </div>
                <div class="column">
                    <img class="alt-image has-border" src="{% static 'images\event\Adobe_Express_20230912_1348380_1.png' %}" alt="Our Traits 2">
                </div>
            </div>
        </section>

        {% comment %} section that contain GOS image carousel (8) {% endcomment %}
        <section class="section">
            <h1 class="title has-text-centered">Global Online Service (GOS)</h1>
            <div class="slider-container">
                <div class="slider">
                    <div class="slide">
                        <img class="slider-image has-border" src="{% static 'images\event\Adobe_Express_20231017_1326490_1.png' %}" alt="Global Online Services">
                    </div>

                    <div class="slide">
                        <img class="slider-image has-border" src="{% static 'images\event\Adobe_Express_20231017_1326490_1.png' %}" alt="Global Online Services">
                    </div>

                    <div class="slide">
                        <img class="slider-image has-border" src="{% static 'images\event\Adobe_Express_20231017_1326490_1.png' %}" alt="Global Online Services">
                    </div>
                </div>
                <button class="icon prev">&larr;</button>
                <button class="icon next">&rarr;</button>
            </div>
        </section>

        <section class="section">
            <h1 class="title has-text-centered">Check us out in our various regions by clicking on the button below</h1>
            <div class="button">
                <a href="{% url 'pastors' %}" class="button">Regions</a>
            </div>
        </section>
    </div>
{% endblock %}