{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="columns">
            {% for post in blog %}
                <div class="column">
                    <div class="blog-card">
                        <a class="blog-link" href="{% url 'blog_detail' post.slug %}">
                            <img class="blog-card-image" src="{{ post.image.url }}" alt="Blog Post Image">
                            <div class="blog-card-content">
                                <header class="subtitle">
                                    <p>{{ post.title }}</p>
                                </header>
                                <small>
                                    <span>{{ post.author }}</span>
                                    <span>{{ post.posted_on }}</span>
                                </small>
                                <div class="snipet">
                                    <p>{{ post.snipet| safe }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% comment %} pagination code format {% endcomment %}
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %} 
            {% endif %}
        </nav>
    </div>
{% endblock  %}