{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <section class="welcome">
        <video autoplay muted loop class="video-background">
            <source src="{% static 'video/intro.mp4' %}" type="video/mp4">
        </video>
        <div class="text-overlay has-text-centered">
            <h1 class="title">Welcome to <br> The Miracle Movement</h1>
        </div>
    </section>
    <div class="container">

        <section class="section"> 
            <div class="columns">
                <div class="column">
                    <h1 class="subtitle">The Miracle Movement</h1>
                    <p>Intro with color, paddings and a video on the right. Mobirise helps you cut down development time by providing you with a flexible website editor with a drag and drop interface. </p>
                </div>
                <div class="column">
                    <img class="image has-border" src="{% static 'images\event\Adobe_Express_20230801_1620280_1.png' %}" alt="">
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <img class="image has-border" src="{% static 'images\event\Adobe_Express_20230912_1417230_1.png' %}" alt="">
                </div>
                <div class="column">
                    <h1 class="subtitle">What we envisioned</h1>
                    <p> Composition. A harmonious arrangement of elements, like notes in a symphony, creating a balanced and expressive piece of art. <br> An engaging and dynamic display of talent, emotion, or skill, captivating audiences and evoking powerful reactions. A structured and compelling delivery of information or ideas, effectively communicating and engaging with the audience.</p>
                </div>
            </div>
        </section>

        <section class="section">
            <h1 class="title has-text-centered">Check out our latest materials</h1>
            <div class="columns">
                <div class="column">
                    <div class="card has-shadow">
                        <img class="card-image" src="{% static 'images\event\Adobe_Express_20230801_1617420_1.png' %}" alt="">
                        <h1 class="subtitle has-text-centered">The mind: The key to transformation</h1>
                        <div class="button-ad">
                            <a href="#" download class="card-button">Download</a>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card has-shadow">
                        <img class="card-image" src="{% static 'images\event\Adobe_Express_20230801_1617420_1.png' %}" alt="">
                        <h1 class="subtitle has-text-centered">The mind: The key to transformation</h1>
                        <div class="button-ad">
                            <a href="#" download class="card-button">Download</a>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card has-shadow">
                        <img class="card-image" src="{% static 'images\event\Adobe_Express_20230801_1617420_1.png' %}" alt="">
                        <h1 class="subtitle has-text-centered">The mind: The key to transformation</h1>
                        <div class="button-ad">
                            <a href="#" download class="card-button">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <h1 class="title has-text-centered">Send us message</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form">
                    <div class="field">
                        <label class="label">Name:</label> <br>
                        {{ contact_form.name | add_class:"input form-box" }}
                    </div>
                    <div class="field">
                        <label class="label">Email:</label> <br>
                        {{ contact_form.email | add_class:"input form-box" }}
                        </div>
                    <div class="field">
                        <label class="label">Message:</label> <br>
                        {{ contact_form.body | add_class:"textarea form-box" }}
                    </div>
                    <div class="field">
                        <button type="submit" class="button form-box">Submit</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock  %}