{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <h1 class="title has-text-centered">IBADAN REGION</h1>
        <div class="columns">
            <div class="column">
                <figure class="image is-1by1">
                    <img src="{% static 'images/pastors/Pst-David-e1687901357915-650x650.jpg' %}" alt="">
                </figure>
            </div>
            <div class="column">
                <div class="content">
                    <h2 class="title">Pastor David Lawal</h2>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quaerat nostrum placeat fugiat incidunt, magnam voluptatibus fugit voluptate ab, corrupti accusamus totam quam sed adipisci optio nisi, qui error minus soluta a! Neque, consectetur dicta illum fuga repellat corrupti sequi blanditiis. Quisquam ex ullam nam aperiam molestiae. Modi nisi eligendi beatae dolorem sunt id incidunt, inventore animi aut repellendus maxime? Blanditiis ut voluptates vel repellat minima sint pariatur necessitatibus adipisci dignissimos quos rem culpa nam, assumenda sit recusandae molestiae. Accusantium eligendi fugit sapiente soluta labore, cupiditate non esse debitis? Exercitationem temporibus repudiandae laboriosam nobis sint non tempore nisi laborum facilis libero omnis porro, est soluta odit id repellendus recusandae, fugiat pariatur qui.</p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'images/pastors/Pst-Busola.jpg' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <h1 class="subtitle">Pastor Busola Fagbenro</h1>
                        <small>Ibadan Community Chapter (IBCC)<br> Protocol Team Lead</small>
                        <div class="content">
                            <p class="text">CMCI Agbala ayo, Agaloke Apata Ibadan</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'images/pastors/Pst-ife-650x650.jpg' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <h1 class="subtitle">Pastor Ifeoluwa Famuyiwa</h1>
                        <div class="content">
                            <p class="text">IBADAN COMMUNITY CHAPTER (IBCC)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{% static 'images/pastors/Pst-fere.jpg' %}" alt="">
                        </figure>
                    </div>
                    <div class="card-content">
                        <h1 class="subtitle">Pastor Feranmi Afolabi</h1>
                        <div class="content">
                            <p class="text">UNIVERSITY OF IBADAN CHAPTER</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}